<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Negocio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenido">
    <ion-input type="text" placeholder="Email del negocio" [(ngModel)]="emailN"></ion-input>
 
    <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
  
    <ion-input type="text" placeholder="Nombre del negocio" [(ngModel)]="nombreN"></ion-input>
  
    <ion-input type="text" placeholder="Direccion" [(ngModel)]="direccionN"></ion-input>
  
    <ion-input type="number" placeholder="Telefono" [(ngModel)]="telefonoN"></ion-input>
  
    <ion-input type="text" placeholder="Nombre del patrón" [(ngModel)]="nombreP"></ion-input>
  
    <ion-input type="text" placeholder="Apellidos del patrón" [(ngModel)]="apellidosP"></ion-input>
 
  <ion-button class="btn-normal"  expand="block" (click)="tomarFoto()">Tomar foto</ion-button>
  <ion-button class="btn-normal"  expand="block" (click)="registrarNegocio()">Registrar Negocio</ion-button>
</div>
 
</ion-content>
